<%-
  include('partials/head', {
    head : head 
  });
%>

<body class="post">

<nav>
    <%- include('partials/topnav') %>

</nav>




<div class="container">

    <%- body %>

</div>


<footer>
    <%- include('partials/footer') %>

</footer>



</body>